
*, *::AFTER, *::before {
    box-sizing:border-box;
}

:root {
    --font-header: 'Inter', sans-serif;
    --font-body:'Manrope', sans-serif;

    --header-height: 80px;


    --color-main-white: white;
    --color-main-dark1: #151515;
    --color-main-dark2: #4b4b4b;
    --color-main-dark3: #555;
    --color-main-dark4: #ABABAB;
    --color-main-light1: #f2f2f2;
    --color-main-light2: #e1e1e1;

    --color-green-lighter: #00754A;
    --color-green-light: #00643C;
    --color-green-dark: #1E3931;
}

.description{
    color:var(--color-main-dark3);
}

body{
    margin:0;
    font-family:var(--font-body);
}

a {
    color:var(--color-main-medium);
    font-weight: bold;
    text-decoration: none;

}


/*font size*/

h1,h2,h3,h4{
    font-family: var(--font-header);
    font-weight: 400;
    margin:0;
}

h1{
    font-size:31px;
}

h2{
    font-size:25px;
}

h3{
    font-size:20px;
}

h4{
    font-size:16px;
}



/* APP STRUCTURE */
.ui-loader{
    display:none;
}
[data-role="page"] {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    display: none;
    overflow:hidden;
}
[data-role="page"].ui-page-active{
    display: flex;
    flex-direction: column;
}

[data-role="main"]{
    flex:1 1 100%;
    position: relative;
    overflow:hidden;
    padding-top:66px;

    z-index:1;
}

.main-header{
    padding:0 20px;
}

.main-header>div:first-child{
    font-size:25px;
}

.main-header>div:last-child>img{
    vertical-align: text-bottom;
}




[data-role="header"],
[data-role="footer"]{
    line-height: var(--header-height);
    height: var(--header-height);
    position: relative;
    overflow:hidden;
    background-color:white;
    /*
    box-shadow:0 0 5px rgba(0,0,0,0.2);
*/
    z-index:2;
}
[data-role="footer"]{
    z-index:1000;
    border-top: 1px solid #ddd;
}


/* CORE NAVIGATION */
[data-role="header"] ul,
[data-role="footer"] ul { 
    list-style-type:none;
    margin:0;
    padding:0;
    display:flex;
}

[data-role="footer"] li{
    flex:1 1 auto;
    text-align: center;
}

[data-role="header"] li {
    flex:none;
}






/* BASIC LAYOUT TOOLS*/
.display-flex{display:flex;}
.display-inline-flex{display:inline-flex;}
.display-block{display:block;}
.display-inline-block{display:inline-block;}

.flex-align-center{ align-items:center;}
.flex-justify-center{justify-content :center;}

.flex-none{flex:none;}
.flex-stretch{flex:1 1 auto;}

.flex-column{flex-direction: column;}


.overscroll{ overflow:auto;}


.padded{
    padding:1em;
}


/* FORMS */
.form-control{
 margin: 1em 0;   
}
.form-label{
    font-size:0.8em;
    color:var(--color-main-white);
    display: block;
    margin-bottom:0.5em;
}

.form-input{
    background-color:transparent;
    border-width:1px;
    border-color:var(--color-neutral-light);
    background-color:var(--color--white);
    border-style:solid;
    border-radius: 0.2em;
    padding:0.5em 1em;
    display: inline-block;
    width:100%;
}

.form-button{
    background-color:var(--color-neutral-lighter);
    border-width:0px;
    border-radius: 0.2em;
    padding:0.5em 1em;
    display: inline-block;
    width:100%;
    font:inherit;
    text-align: center;
    color:inherit;
}

.form-button:hover{
    text-decoration: none;
}


#signin-form,
#signup-form{
    padding:1em;
}

.signin-hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-icon{
    width:80%;

}

.map {
    position:absolute; 
    top:0;
    left:0;
    width:100%;
    height: 100%;

    
    /*background-image:url('../../images/map.png');
    background-position:center;
    background-size:cover;
    */
}


/* floater */

.floater { position:absolute;}
.floater.top { top:1rem;}
.floater.right { right:1rem;}
.floater.bottom { bottom:1rem;}
.floater.left { left:1rem;}

.btn-circle{
    border-radius:2rem;
    line-height: 3rem;
    font-size:2.5em;
    width:3rem;
    height:3rem;
    text-align:center;
    background-color:white;
    display:block;
    box-shadow: 0.1em 0.1em 0.2em rgba(0,0,0,0.2);

}



/* MODAL */
.modal {
    position: absolute;
    top:15%;
    left:0;
    width:100%;
    height: 100%;
    pointer-events:none;
    transition:all 0.3s;
    opacity:1;
    z-index:10;
}
.modal.active{
    opacity: 1;
    pointer-events: initial;
}

.modal-back{
    position: absolute;
    top: 0;
    left:0;
    width:100%;
    height: 100%;
    /*
    background-color:rgba(0,0,0,0.7); 
    */
    
}

.modal-back.transparant {
    background-color: transparent;   
}


.modal-popup{
    position: absolute;
    top:60%;
    left:50%;
    bottom:0;
    transform: translate(-50%, calc(-50% + 3em));
    width: 100vw;
    max-height: 60vh;
    display:flex;
    flex-direction: column;
    border-radius: 0.3em 0.3em 0 0;
    overflow:hidden;
    box-shadow:0 0 5px rgba(0,0,0,0.3);
    transition: all 0.3s;
}

.modal.active .modal-popup{
    transform: translate(-50%, 0%);
}

.modal-drawer{
    position: absolute;
    display:flex;
    flex-direction: column;
    overflow:hidden;
    transition: all 0.3s;
    box-shadow:0 0 5px rgba(0,0,0,0.3);
} 

.modal-drawer.right,
.modal-drawer.left{
    height: 100%;
    width: 70vw;
}

.modal-drawer.right { right: 0; transform:translateX(100%);}
.modal-drawer.left { left: 0; transform:translateX(-100%);}

.modal-drawer.top,
.modal-drawer.bottom{
    height: 40vh;
    width: 100%;
}

.modal-drawer.top { top: 0; transform:translateY(-100%);}
.modal-drawer.bottom { bottom: 0; transform:translateY(100%);}
.modal.active .modal-drawer{
    transform: translate(0);
}

.modal-head, 
.modal-foot{
    background-color:white;
    padding:0.5em 20px;
}

.modal-head{
    padding-top:12px;
    padding-bottom:24px;
}

.modal-body{
    background-color:white;
    padding:0 20px;
    flex:1 1 100%;
    overflow: auto;
}

.grabber{
    width:96px;
    height: 5px;
    background-color: #ccc;
    margin:0 auto;
    border-radius: 8px;;
}

.top-w-d{
    margin-bottom:32px;
}


.button-category{
    background-color: white;
    border:0;
    font-size:16px;
    color:var(--color-main-dark2);
    padding:8px 32px 4px 32px;
}

.button-category:first-of-type{
    padding-left:0;
}

.category_bar{
    border-radius: 10px;
    background-color: var(--color-main-dark1)
    ;
}



        /* ANIMAL LIST */
.animallist {
    height:98%;
    padding:1em;
    overflow:scroll;
    
}

.category{
    position: relative;
    overflow: auto;
}
.animallist .category_bar{
    background-color: var(--color-green-lighter);
    width:100%;
    height: 2px;
    margin-top:8px;
}




[data-role="footer"] li {
    flex: 1 1 auto;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 8px;
}



[data-role="footer"] .icon{
    width:1.3rem;
    height: 1.3rem;
    vertical-align: middle;
}

[data-role="footer"] a{
    line-height: 1rem;
    color:inherit;
}


.footer-icon{
    display:block;
    line-height: 1.7rem;
    margin-bottom: 2px;
    
}

.footer-label{
    line-height: 1.3rem;
    font-size: 0.8rem;
    display: block;
}


/*TAB BAR*/

#recent-page a[href="#recent-page"] .footer-label{
    color:var(--color-green-light);
}

#recent-page a[href="#list-page"] .footer-label,
#recent-page a[href="#user-profile-page"] .footer-label{
    color:var(--color-main-dark4);
}


#list-page a[href="#list-page"] .footer-label{
    color:var(--color-green-light);
}

#list-page a[href="#recent-page"] .footer-label,
#list-page a[href="#user-profile-page"] .footer-label{
    color:var(--color-main-dark4);
}

#user-profile-page a[href="#user-profile-page"] .footer-label{
    color:var(--color-green-light);
}

#user-profile-page a[href="#recent-page"] .footer-label,
#user-profile-page a[href="#list-page"] .footer-label{
    color:var(--color-main-dark4);
}




.animallist-item {
    height: 121px;
    display: flex;
    /*box-shadow: 0 3px 5px rgb(0 0 0 / 20%); */
    padding: 24px 0;
    /*border-radius: 1em; */
    overflow: hidden;
    font-weight: normal;
    color:inherit;
    box-sizing: content-box;
    border-bottom:2px solid var(--color-main-light2);
}


.animallist-item img{
    width: 121px;
    height: 121px;
    object-fit: cover;
    vertical-align: text-bottom;
    border-radius: 3px;
}

.animallist-body{
    padding:32px 16px;
}

.animallist-name{
    font-size:  16px;
    white-space: nowrap;
}

.animallist-type{
    color: var(--color-main-dark2);
    margin-top: 8px;
}

#animal-profile-page [data-role="main"]{
    display: flex;
    flex-direction: column; 
}

.animal-profile-top{
    height: 30vh;
    flex: none;
    background-position: center;
    background-size: cover;
} 

.animal-profile-nav{
    flex:none;
    line-height: var(--header-height);
    display: flex;
}

.nav-link{
    flex: 1 1 50%; 
    text-align: center;
}

.nav-link.active{
    background-color: var(--color-main-light1);

}

.animal-profile-bottom{
    position:relative;
    flex: 1 1 100%;
}

.animal-profile-section{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
}
.animal-profile-section.active {
    opacity: 1;
    pointer-events: initial;
}


.animal-map-description{
    display: flex;
}
.animal-map-image img{
    width: 80px;
    aspect-ratio: 1 / 1;
    vertical-align: middle;
    object-fit: cover;
}
.animal-map-body{
    padding: 1em;
}

.animal-map-body h1{
    margin:0;
}



.user-profile-image img{
    width:100%;
    object-fit: cover;
    aspect-ratio: 1/ 1;
    border-radius:  50%;
    padding:4em;
}

.user-profile-body {
    padding:2em;
}

.user-profile-name {
    font-weight: 1.5em ;
}

.icon {
    font-weight: 1em;
    width: 1em;
    height: 1em;
}

.settings {
    list-style-type: none;
    margin:0;
    padding:0;
}

.settings li {
    padding: 0.5em 1em;
}

.settings li~li {
    border-top: 1px solid var(--color-neutral-lighter);
}